<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Administrador</title>
	</head>
	<body>
  <table border=1>
    <tr>
  {% for i in result%}
  </tr>
  <td>{{ i[-1] }} </td>
  <td><a href="/ver/{{i[-1]}}">Ver</a></td>
  <td>Actualizar</td>
  {% end%}
  </table>
	</body>
</html>
