<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>category</title>
	</head>
	<body>
  <br><br><br>
  <form id="enterClient" action="/ver/category" method="post">
    <input type="hidden" name="id_category" value={{result[0][0]}}>
    Ingresar una categoria: <br>
    cattegoria: <input type="input" name="descripcion" value={{result[0][1]}}/> <br>
    <button type="submit" value="modificado" name="eleccion">Ingresar</button>
  </form>
	</body>
</html>