<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Administrador</title>
	</head>
	<body>
  <br><br><br>
  <form id="enterClient" action="/ver/waiter" method="post">
    <input type="hidden" name="id" value={{result[0][0]}}>
    Ingresar un Mozo: <br>
    Nombre: {{result[0][0]}}<input type="input" name="name" value={{result[0][1]}}/> <br>
    telefono: <input type="input" name="phone" value={{result[0][2]}}/> <br>
    salario: <input type="input" name="salario" value={{result[0][3]}}/> <br>
    horario: <input type="input" name="horario" value={{result[0][4]}}> <br>
    <button type="submit" value="modificado" name="eleccion">Ingresar</button>
  </form>
	</body>
</html>
