<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_sale_head</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>id</td>
      <td>plato</td>
      <td>sub total</td>
      <td>cantidad</td>
    </tr>
    <tr>
  {% for venta in result %}
  <td>{{ venta[0]}}</td>
  <td>{{ venta[1]}}</td>
  <td>{{ venta[2]}}</td>
  <td>{{ venta[3]}}</td>
  <td><a href="/ver/sale_head">Cabecera</a></td>
  <form method="post">
    <input type="text" style="display:none;" name="id_sale_body" value="{{venta[0]}}"/>
    <td><input type="submit" value="borrar_sb" name="id"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_sale_body" value="{{venta[0]}}"/>
    <td><input type="submit" value="modificar_sb" name="id_sale_body"/></td>
</form> 
</tr>
  {% end for %}
  </table>
	</body>
</html>
