<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_dish</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>id</td>
      <td>nombre del plato</td>
      <td>precio</td>
      <td>categoria</td>
    </tr>
    <tr>
  {% for plato in result %}
  <td>{{ plato[0]}}</td>
  <td>{{ plato[1]}}</td>
  <td>{{ plato[2]}}</td>
  <td>{{ plato[3]}}</td>
  <form method="post">
    <input type="text" style="display:none;" name="id_dish" value="{{plato[0]}}"/>
    <td><input type="submit" value="Borrar" name="eleccion"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_dish" value="{{plato[0]}}"/>
    <td><input type="submit" value="modificar" name="eleccion"/></td>
</form> 
</tr>
  {% end for %}
  </table>
  <form method="post">
    <input type="text" style="display:none;" name="" value=""/>
    <td><input type="submit" value="insertar" name="eleccion"/></td>
</form> 
	</body>
</html>
