<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_reserve</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>ID Cliente</td>
      <td>Fecha Creación</td>
      <td>Fecha Límite</td>
      <td>Horario</td>
      <td>Cancelador</td>
    </tr>
    <tr>
  {% for reserve in result%}
  <td>{{ reserve[1]}}</td>
  <td>{{ reserve[2]}}</td>
  <td>{{ reserve[3]}}</td>
  <td>{{ reserve[4]}}</td>
  <td>{{ reserve[5]}}</td>
    <form method="post">
    <input type="text" style="display:none;" name="id_reserve" value="{{reserve[0]}}"/>
    <td><input type="submit" value="Borrar" name="id"/></td>
  </form>
</tr>
  {% end for %}
  </table>
	</body>
</html>
