<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_request</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>ID Cliente</td>
      <td>Fecha</td>
      <td>Hora</td>
      <td>costo</td>
    </tr>
    <tr>
  {% for request in result%}
  <td>{{ request[1]}}</td>
  <td>{{ request[2]}}</td>
  <td>{{ request[3]}}</td>
  <td>{{ request[4]}}</td>
  <form action="/ver/pedido_descripcion" method="post">
    <input type="text" style="display:none;" name="id_request" value="{{request[0]}}"/>
    <td><input type="submit" value="Descripcion" name="Descripcion"/></td>
  <form method="post">
    <input type="text" style="display:none;" name="id_request" value="{{request[0]}}"/>
    <td><input type="submit" value="Borrar" name="Borrar"/></td>
</tr>
  {% end for %}
  </table>
	</body>
</html>
