<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_category</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>id</td>
      <td>descripcion</td>
    </tr>
    <tr>
  {% for categoria in result %}
  <td>{{ categoria[0]}}</td>
  <td>{{ categoria[1]}}</td>
  <form method="post">
    <input type="text" style="display:none;" name="id_category" value="{{categoria[0]}}"/>
    <td><input type="submit" value="borrar" name="eleccion"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_category" value="{{categoria[0]}}"/>
    <td><input type="submit" value="modificar" name="eleccion"/></td>
</form> 
</tr>
  {% end for %}
  </table>
  <form method="post">
    <input type="text" style="display:none;" name="" value=""/>
    <td><input type="submit" value="insertar" name="eleccion"/></td>
</form> 
	</body>
</html>
