<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_products</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>Nombre</td>
      <td>Descripción</td>
      <td>Costo</td>
      <td>Stock</td>
    </tr>
    <tr>
  {% for products in result%}
  <td>{{ products[1]}}</td>
  <td>{{ products[2]}}</td>
  <td>{{ products[3]}}</td>
  <td>{{ products[4]}}</td>
  <form method="post">
    <input type="text" style="display:none;" name="id_product" value="{{products[0]}}"/>
    <td><input type="submit" value="Borrar" name="id"/></td>
  </form>
</tr>
  {% end for %}
  </table>
	</body>
</html>
