<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_request</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>Id Producto</td>
      <td>Cantidad</td>
      <td>costo</td>
    </tr>
    <tr>
  {% for request in result%}
  <td>{{ request[2]}}</td>
  <td>{{ request[3]}}</td>
  <td>{{ request[4]}}</td>
</tr>
  {% end for %}
  </table>
	</body>
</html>
