<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_sale_head</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>id</td>
      <td>client</td>
      <td>mozo</td>
      <td>fecha</td>
      <td>hora</td>
      <td>total</td>
    </tr>
    <tr>
  {% for venta in result %}
  <td>{{ venta[0]}}</td>
  <td>{{ venta[1]}}</td>
  <td>{{ venta[2]}}</td>
  <td>{{ venta[3]}}</td>
  <td>{{ venta[4]}}</td>
  <td>{{ venta[5]}}</td>
  <form method="post">
    <input type="text" style="display:none;" name="id_sale_head" value="{{venta[0]}}"/>
    <td><input type="submit" value="detalle" name="eleccion"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_sale_head" value="{{venta[0]}}"/>
    <td><input type="submit" value="borrar" name="eleccion"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_sale_head" value="{{venta[0]}}"/>
    <td><input type="submit" value="modificar" name="eleccion"/></td>
</form> 
</tr>
  {% end for %}
  </table>
	</body>
</html>
