<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_request</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>Nombre</td>
      <td>Dirección</td>
      <td>DNI</td>
      <td>Nacimiento</td>
      <td>Username</td>
    </tr>
    <tr>
  {% for request in result%}
  <td>{{ request[1]}}</td>
  <td>{{ request[2]}}</td>
  <td>{{ request[4]}}</td>
  <td>{{ request[5]}}</td>
  <td>{{ request[6]}}</td>
</tr>
  {% end for %}
  </table>
	</body>
</html>
