<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_worker</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>DNI</td>
      <td>Tipo de Documento</td>
      <td>Nombre</td>
      <td>telefono</td>
      <td>direccion</td>
    </tr>
    <tr>
  {% for worker in result %}
  <td>{{ worker[0]}}</td>
  <td>{{ worker[1]}}</td>
  <td>{{ worker[2]}}</td>
  <td>{{ worker[3]}}</td>
  <td>{{ worker[4]}}</td>
  <form method="post">
    <input type="text" style="display:none;" name="id_client" value="{{worker[0]}}"/>
    <td><input type="submit" value="borrar" name="eleccion"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_client" value="{{worker[0]}}"/>
    <td><input type="submit" value="modificar" name="eleccion"/></td>
</form> 
</tr>
  {% end for %}
  </table>
  <form method="post">
    <input type="text" style="display:none;" name="id_client" value=""/>
    <input type="submit" value="insertar" name="eleccion"/>
</form> 
	</body>
</html>
