<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_waiter</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>id</td>
      <td>nombre</td>
      <td>telefono</td>
      <td>salario</td>
      <td>horario</td>
    </tr>
    <tr>
  {% for waiter in result %}
  <td>{{ waiter[0]}}</td>
  <td>{{ waiter[1]}}</td>
  <td>{{ waiter[2]}}</td>
  <td>{{ waiter[3]}}</td>
  <td>{{ waiter[4]}}</td>
  <form method="post">
    <input type="text" style="display:none;" name="id_waiter" value="{{waiter[0]}}"/>
    <td><input type="submit" value="borrar" name="eleccion"/></td>
</form> 
  <form method="post">
    <input type="text" style="display:none;" name="id_waiter" value="{{waiter[0]}}"/>
    <td><input type="submit" value="modificar" name="eleccion"/></td>
</form> 
</tr>
  {% end for %}
  </table>
  <form method="post">
    <input type="text" style="display:none;" name="" value=""/>
    <td><input type="submit" value="insertar" name="eleccion"/></td>
</form> 
	</body>
</html>
