<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>view_task</title>
	</head>
	<body>
  <table border=1>
    <tr>
      <td>ID Administrador</td>
      <td>ID Trabajador</td>
      <td>ID Pedido</td>
      <td>Fecha</td>
      <td>Hora</td>
      <td>Finalizado</td>
    </tr>
    <tr>
  {% for task in result%}
  <td>{{ task[1]}}</td>
  <td>{{ task[2]}}</td>
  <td>{{ task[3]}}</td>
  <td>{{ task[4]}}</td>
  <td>{{ task[5]}}</td>
  <td>{{ task[6]}}</td>
    <form method="post">
    <input type="text" style="display:none;" name="id_task" value="{{task[0]}}"/>
    <td><input type="submit" value="Borrar" name="Borrar"/></td>
</tr>
  {% end for %}
  </table>
	</body>
</html>
